<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<div th:if="${member.id}" th:fragment="receipts">
			<div>
				<br/>
				<h2 class="text-dark">Member Receipts History</h2>
				<div class="table-responsive">
					<label class="text-danger">You can sort records by clicking on any title of the table.</label>
					<table class="table table-hover" id="sort">
						<thead class="table-primary">
							<tr>
								<th>Receipt Number</th>
								<th>Payment For</th>
								<th>Amount</th>
								<th>Payment Type</th>
								<th>Payment Date</th>
								<th>Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="receipt : ${member.receipts}">
								<td th:text="${receipt.receiptNumber}"></td>
								<td th:text="${receipt.paymentFor}"></td>
								<td th:text="${#numbers.formatDecimal(receipt.amount,1,2)}"></td>
								<td th:text="${receipt.paymentType}"></td>
								<td th:text="${#temporals.format(receipt.paymentDate, 'yyyy/MM/dd')}"></td>
								<td th:text="${receipt.receiptNotes}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>